@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.limitar_secao {
  max-width: 1024px;
}

.secao_banner {
  width: 100%;
  height: 30vh;
  background: url('/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_texto {
  width: 100%;
}

.secao_texto {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  height: 60vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}

.secao_texto h1 {
  font-size: 40px;
}

.secao_texto p {
  font-size: 18px;
}

.secao_texto p:last-of-type {
  font-size: 50px;
  font-family: Great Vibes, sans-serif;
  color: #B1987D;
}


/* Estilo do modo escuro */

.dark  {
  background: #252323;
}

.dark img {
  filter: invert(1) brightness(2);
} 

.dark  .container_texto {
  background: #252323;
  color: #fff;
}


/* Responsividade */

@media (max-width: 425px) {
  .topo {
    height: 14vh;
  }

  .secao_banner {
    width: 100%;
  }

  .secao_texto {
    height: auto;
  }
}